body {
    background-color: #f9c5d1; /* Рожевий фон */
}

.container {
    background-image: url('cat.png'); /* Посилання на зображення котика */
    background-size: cover; /* Розмір зображення */
    width: 900px; /* Нова ширина зображення */
    height: 900px; /* Нова висота зображення */
    text-align: center; /* Центрування тексту */
    
}

button {
    padding: 25px 50px;
    margin: 20px;
    font-size: 36px;
}

@keyframes heartsAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hearts {
    animation: heartsAnimation 1s forwards;
}
